<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>ETicaret.com</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-card>
            <ion-img src="" style="height: 300px;"></ion-img>
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>      
              <ion-item class="ion-text-center">
                <p></p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
